<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chen.com.myaccount">

    <application
        android:allowBackup="true"
        android:icon="@drawable/licai"
        android:label="@string/app_name"
        android:roundIcon="@drawable/licai"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IndexActivity">
        </activity>
        <activity android:name=".InActivity"></activity>
        <activity android:name=".OutActivity"></activity>
        <activity android:name=".UserActivity"></activity>
        <activity android:name=".ShowInfoActivity"></activity>
        <activity android:name=".LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InAddActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chen.com.myaccount.IndexActivity" />
        </activity>
        <activity android:name=".OutAddActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chen.com.myaccount.IndexActivity" />
        </activity>
        <activity android:name=".AccountFlagActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chen.com.myaccount.IndexActivity" />
        </activity>
    </application>

</manifest>